* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 40px;
    letter-spacing: 1rem;
    text-decoration: 5px red overline;
}



main {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.buttonOptions {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 5px;
    border: 2px solid black;
}


.addPokemonBtn:hover {
    background-color: lightgreen;
}

#modal {
    position: fixed;
    z-index: 1;
    background-color: whitesmoke;
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    align-self: center;
    display: none;
    
}

#modal input {
    width: 50%;
    align-self: center;
    border-radius: 5px;
    height: 30px;
    letter-spacing: 1rem;
    text-transform: uppercase;
    padding: 10px;
}

#modal input:focus {
    outline: none;
}

#modal p {
    font-family: fantasy;
    font-size: 1.7rem;
}

.modalHeader {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
}

.modalHeader span {
    font-size: 2rem;
    border: 1px solid black;
    padding: 0px 10px;
}

.modalHeader span:hover {
    background: lightgray;
    cursor: pointer;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.resetBtnModal {
    display: flex;
   gap: 20px;
   justify-content: space-between;
}

.resetModalContent {
    position: absolute;
    bottom: 0;
    right: 30%;
    padding: 20px;
    display: flex;
    gap: 50px;
}

.resetBtn:hover {
    background: red;
}

.cautionText {
    color: red;
    font-weight: 800;
}

.continueBtn {
    height: 50px;
    padding: 10px;
    align-self: center;
    cursor: pointer;
    border: 3px solid black;
}

.cancelBtn {
    height: 50px;
    padding: 10px;
    align-self: center;
    cursor: pointer;
    border: 3px solid black;

}

.continueBtn:hover {
    background: red;
}

.cancelBtn:hover {
    background: green;
}

.submitBtn {
    width: 20%;
    align-self: center;
    cursor: pointer;
}

.submitBtn:hover {
    background: lightgray;
}

.deleteBtn:hover {
    background-color: crimson;
}

.showBtnModalBtns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.showBtn:hover {
    background-color: lightgoldenrodyellow;
}

.pokemonLibrary {
    border: 5px solid black;
    padding: 20px;
}

.pokemonCard {
    border: 3px solid black;
    border-radius: 5px;
    min-width: 0;
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pokemonCard:hover {
    background: lightgray;
    text-decoration: 3px solid crimson underline;
    transition-duration: 0.3s;
}


.pokemonCard img {
    width: 200px;
    align-self: center;
    
}

.pokemonCard p {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

